* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

button {
  background: none;
  border: none;
  outline: none;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

header {
  margin: 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 32px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.men-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu {
  height: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.menu1 {
  height: 2px;
  width: 24px;
  background: black;
}

.menu2 {
  height: 2px;
  width: 15px;
  background: black;
}

.menu3 {
  height: 2px;
  width: 8;
  background: black;
}

.night-mode {
  display: block;
}

.day-mode {
  display: none;
}

.search-container {
  margin: 32px 0 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  border-radius: 100px;
  border-border: none;
}

.search-container input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 220px;
  height: 32px;
  padding: 10px 20%;
  background: #EEEEEE;
  border: none;
  color: black;
  font-weight: 800;
  border-radius: 100px;
}

.search-container input::-webkit-input-placeholder {
  color: #D7D7D7;
}

.search-container input:-ms-input-placeholder {
  color: #D7D7D7;
}

.search-container input::-ms-input-placeholder {
  color: #D7D7D7;
}

.search-container input::placeholder {
  color: #D7D7D7;
}

main {
  margin-top: 42px;
}

h1 {
  font-size: 1em;
  margin-bottom: 15px;
}

.cards {
  -webkit-transition: 10s ease-in-out;
  transition: 10s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 20px;
  -webkit-box-shadow: 0px -8px 20px #FFFFFF;
          box-shadow: 0px -8px 20px #FFFFFF;
  margin-top: -30px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 200px;
  background-image: url(../img/card.svg);
}

.cards p {
  color: #949494;
  font-weight: 700;
  font-size: .8em;
}

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.description img {
  margin-right: 20px;
}

.tools {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.tools .tool {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tools .tool button {
  height: 23px;
  width: 23px;
  background-image: url(../img/expand.svg);
}

.card-content {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 20px 0 20px;
}

.card-content .details-company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.card-content .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-content .details p {
  width: 70%;
}

.card-content .notice {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-content .notice p {
  font-weight: 700;
  background-image: url(/img/exagon1.svg);
  width: 87px;
  height: 30px;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-content .place:hover ~ .box-show {
  -webkit-transform: translateX(300px) !important;
          transform: translateX(300px) !important;
  width: 1px !important;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.card-content .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-content .options span {
  color: #3D3C3C;
  font-weight: 800;
  font-size: .8em;
}

.card-content .options .place-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-content .options .place-options .places {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-content .options .place-options .box-show {
  position: absolute;
  height: 45px;
  background: white;
  width: 80%;
  z-index: 4;
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
}

.card-content .options .place-options span {
  z-index: 6;
  color: #949494;
  font-weight: 700;
  font-size: .8em;
}

.card-content .options .place-options .place {
  height: 40px;
  font-size: 1em;
  font-weight: 700;
  width: 100%;
  background: none;
  border: none;
  border-bottom: 3px solid #80C6B1;
  color: #80C6B1;
}

.time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.time span {
  color: #949494;
  font-weight: 700;
  font-size: .8em;
}

.time .time-option input {
  color: #80C6B1;
  font-weight: 700;
  font-size: 1.2em;
  border: none;
}

.time .time-option input::-webkit-inner-spin-button {
  display: none;
}

.time .time-option input::-webkit-clear-button {
  display: none;
}

.time span {
  color: #949494;
  font-weight: 700;
  font-size: .8em;
}

.price {
  height: 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: 0;
  bottom: 20%;
}

.price p {
  font-size: 1.8em;
  font-weight: 600;
  color: black;
  padding-bottom: 40px;
  border-bottom: 3px solid #28A47E;
}

.save {
  font-size: 1.5em;
  color: #EEEEEE;
  font-weight: 800;
  position: absolute;
  width: 100%;
  height: 15vh;
  left: 0;
  bottom: 0;
  border: none;
  margin: 0;
  background-image: url(../img/save.svg);
  background-color: transparent;
  background-size: 100vw;
  background-repeat: no-repeat;
}

.save:focus {
  outline: none;
}
/*# sourceMappingURL=styles.css.map */