$primary-color: #28A47E;
$secundary-color: #80C6B1;
$alert-color: #E33B3B;
$night-color: #077151;
$grey: #3D3C3C;
$sub-title: #949494;
$white-text: #EEEEEE;
$titles-color: #D7D7D7;

@mixin flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@mixin span {
     color: $sub-title;
    font: {
         weight: 700;
        size: .8em;
    }
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    transition: 1s ease;
}

button {
    background: none;
    border: none;
    outline: none;
    height: fit-content;
}

header {
    margin: 4vw;
    display: flex;
    height: 32px;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.men-logo {
    display: flex;
    width: 80px;
    justify-content: space-between;
}

.menu {
    height: 27px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.menu1 {
    height: 2px;
    width: 24px;
    background: black;
}

.menu2 {
    height: 2px;
    width: 15px;
    background: black;
}

.menu3 {
    height: 2px;
    width: 8;
    background: black;
}

.night-mode {
    display: block; 
}

.day-mode {
    display: none;
}

.search-container {
    margin: 4vh 0;
    display: flex;
    justify-content: center;
    width: 100%;
    border: {
        radius: 100px;
        border: none;
    }
    input {
        &::placeholder {
            color: $titles-color;
        }
        display: flex;
        outline: none;
        justify-content: center;
        width: 220px;
        height: 32px;
        padding: 10px 20%;
        background: $white-text;
        border: none;
        color: black;
        font: {
            weight: 800;
        }
        border: {
            radius: 100px;
        }
    }
}

main {
    margin-top: 4vh;
}

h1 {
    font-size: 1em;
    margin-bottom: 15px;
}

.cards{
    transition: 10s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 20px;
    box-shadow: 0px -8px 20px #FFFFFF;
    margin-top: -30px;
    background: {
        repeat: no-repeat;
        size: cover; 
    }
    width: 100%;
    height: 200px;
    background-image: url(../img/card.svg);
    & p {
        @include span();
    }
}

.description {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    img {
        margin-right: 20px 
    }
}

.tools {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    .tool {
        width: 70%;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: space-between;
        button {
            height: 23px;
            width: 23px;
            background-image: url(../img/expand.svg);
        }
    }
}

.card-content{
    display: none;
    flex-direction: column;
    margin: 0 4vw;
    .details-company {
        height: 15vh;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 6vh;
        .status {
            margin-right: 4vw;
            height: 100%;
            @include flex-column();
        }
        h2 {
            font-size: 1em;
        }
        p {

        }
    }
    .details {
        height: 100%;
        @include flex-column();
        p {
            @include span();
            width: 100%;
        }
    }
    .notice {
        width: 100%;
        display: flex;
        justify-content: center;
        p {
            font-weight: 700;
            background-image: url(/img/exagon1.svg);
            width: 87px;
            height: 30px;
            background-size: cover;
            display: flex;
            justify-content: center;
        }
    }
    .options {
        .places {
            margin-bottom: 4vh;
        }
        span{
            color: $grey;
            font: {
                weight: 800;
                size: .8em;
            }
        }
        display: flex;
        flex-direction: column;
        .place-options {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .places {
                width: 100%;
                display: flex;
            }
            .box-show {
                position: fixed;
                height: 45px;
                background: white;
                width: 80%;
                z-index: 4;
                transform: translateX(50px);
            }
            span {
                z-index: 6;
                @include span();
            }
            .place {
                height: 40px;
                font: {
                    size: 1em;
                    weight: 700;
                }
                width: 100%;
                background: none;
                border: none;
                border-bottom: 3px solid $secundary-color;
                color: $secundary-color;
            }
        }
    }
}
    .time {
        display: flex;
        justify-content: space-between;
        span {
            @include span();
        }
        .time-option input{
            background: none;
            width: fit-content;
            border: none;
            border-bottom: 3px solid $secundary-color;
            color: $secundary-color;
            font: {
                weight: 700;
                size: 1.2em;
            }
            &::-webkit-inner-spin-button {
                display: none;
              }
              &::-webkit-clear-button {
                display: none;
              }
        }
        span {
            color: $sub-title !important;
        }
    }

.price {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    right: 0;
    bottom: 20%;
    p {
        font-size: 1.8em;
        font-weight: 600;
        color: black;
        padding-bottom: 40px;
        border: {
            bottom: 3px solid $primary-color;
        }
    }
}
.save {
    font-size: 1.5em;
    color: $white-text;
    font-weight: 800;
    position: absolute;
    width: 100%;
    height: 15vh;
    left: 0;
    bottom: 0;
    border: none;
    margin: 0;
    background: {
        image: url(../img/save.svg);
        color: transparent;
        size: 100vw;
        repeat: no-repeat
    }
    &:focus {
        outline: none;
        animation: click .8s;
    }
}

@keyframes click {
    0% {
      filter: brightness(1);
    }
    50% {
      filter: brightness(1.2);
    }
    75%{
        filter: brightness(1.1);
    }
    100% {
      filter: brightness(1.0);
    }
  }
  


    // #expandButtonClose {
    //     width: 100px;
    //     height: 100px;
    //     background:red;
    // }
